:root {
    --color-white: #fff;
    --color-black: #121212;
    --color-green1: greenyellow;
    --color-gray: #ccc;
    /*Colors-bgs*/
    --color-gray2: #35353D;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arial', Helvetica, sans-serif;
}

body {
    background-color: #3F3F3F;
}

/*HEADER*/

header .container-header {
    display: flex;
    background-color: var(--color-black);
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0rem 5rem;
}

header h1 {
    color: var(--color-green1);
    text-transform: uppercase;
    font-style: italic;
}
header a {
    text-decoration: none;
    color: var(--color-black);
    text-transform: uppercase;
    background-color: var(--color-green1);
    padding: 10px;
    font-weight: bold;
    font-style: italic;
}

header li{
    display: inline;
    margin: 10px;
}
/*Main*/

main {
    margin: 0 auto;
}

.content-page,
.content-page-container-2,
.content-page-container-3,
.content-page-container-4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

.main-content,
.economia-content,
.entretenimento-content,
.tecnologia-content{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--color-green1);
    color: var(--color-black);
    margin: 1rem 5rem;
    padding: 8px;
    border-radius: 10px;
}

.tecnologia-content,
.economia-content {
    background-color: var(--color-black);
    color: var(--color-white);
}

/*Seções*/

.conteudo-de-sport,
.conteudo-de-entretenimento{
    background-color: var(--color-black);
}

.conteudo-de-economia,
.conteudo-de-tecnologia {
    background-color: var(--color-green1);
}

/*Artigos*/

.artigos img,
.destaque img {
    height: 200px;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}

.artigos img:hover {
    height: 250px;
    border: 3px solid var(--color-green1);
}

.destaque img:hover {
    height: 250px;
    border: 3px solid var(--color-black);
}


.artigos h3,
.destaque h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.8rem;
    background-color: var(--color-green1);
}

.destaque h3 {
    background-color: var(--color-black);
    color: #fff;
}

.artigos a,
.destaque a {
    background-color: var(--color-green1);
    font-weight: bold;
    font-style: italic;
    color: var(--color-black);
    padding: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    border-radius: 1rem;
    transition: 0.3s;
}

.artigos a:hover {
    font-size: 1.1rem;
    color: var(--color-white);
    background-color: #3F3F3F;
}

.destaque a:hover {
    font-size: 1.1rem;
    color: var(--color-black);
    background-color: #fff;
}

.destaque a {
    color: var(--color-white);
    background-color: var(--color-black);
}

.artigos p,
.destaque p {
    margin: 1rem;
    font-size: 0.8rem;
    color: #fff;
    width: 90%;
}

.destaque p {
    color: var(--color-black);
}

.artigos header time,
.destaque header time {
    color: var(--color-white);
    font-size: 0.75rem;
    padding-left: 1rem;
}

.destaque header time{
    color: var(--color-black);
}

.artigos,
.destaque {
    width: 30%;
    margin-bottom: 20px;
}

/*Footer*/

footer {
    background-color: var(--color-black);
    color: var(--color-green1);
    height: 130px;
}

footer h4,
p {
    margin-bottom: 8px;
}

.conteudo-footer{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.informacao {
    margin: 2rem;
    text-align: center;
}

/*buttons*/

.button-plus {
    display: flex;
    justify-content: center;
}